 /*Fission.css 2.0 
 (c) Bryce Narciso C. Mercines 2018*/

html,body{
	padding: 0;
	margin: 0;
	background-color: black;
}

a,p{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px
}

h1{
    font-family: 'Megrim', cursive; 
}

#nav {
	top: 0;
	position: fixed;
	z-index: 99;
}

#nav ul {
   list-style: none;
}

#nav i {
   font-size: 50px;
}


 #home {
 	height: 100%;
 	width: 100%;
    background: linear-gradient(rgb(36, 40, 45),rgba(0,0,0,0.5), rgba(0, 0, 0, 0.94)), url('../img/p2.gif') fixed center center;
    background-size: cover;
    position: absolute;
 }

 .banner {
 	margin-top: 15%;
 	font-weight: 100;
 	color: #333;
 	font-size: 70;
 	font-weight: 700;
 }

 .banner:hover{
 	margin-top: 15%;
 	font-weight: 100;
 	color: #fff;
 	font-size: 70;
 	font-weight: 700;
 	transition: 1s;
 }

 @media (max-width: 768px) {
  .banner {
    font-size: 50px;
  }
}


 .input-home {
 	border: 1px solid #333;
 	background: rgba(0,0,0,0.3);
 	padding-left: 10px;
 	color: #fff;
 	border-radius: 2px;
  width: 0px;
  transition: 1s;
 }

 

 .input-mask {
 	margin: 15px;
 }

.footlinks{
	bottom: 0;
	position: fixed;
	color: #fff;
	text-align: right;
	padding: 20px;
 }

.footlinks a {
    padding: 20px;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #ddd !important;
}

.footlinks:hover a {
	color: lightblue !important;
	transition: 1s;
}

#settings {
	color: #333;
}

#settings:hover {
	color: #fff;
	cursor: pointer;
    transition: 1.2s;
}

/*hover effects*/

.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  position: relative;
  text-decoration: none;
  
  }


  .expand {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

} 

.expand-active {
  border: 1px solid #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  max-width: 550px;
      width: 100%; 
  transition: 1.5s;
}

.pulse {
	color: #fff;
	transition: 1.2s;
}

.static {
	color: #333;
	transition: 1.3s;
}

#preferences {
	display: none;
	background: #fff;
	z-index: 200;
	height: 100vh;
	color: #333;
	position: fixed;
	width: 90%;
}

#preferences hr {
	 border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


 


.animate-left{
	position:relative;animation:animateleft 1s
	}
@keyframes animateleft{
	from{
		left:-100%;opacity:0
		} to{
			left:0;opacity:1}}

.hide-left{
	position:relative;animation:hideleft 1s
	}
@keyframes hideleft{
	from{
		left:0;opacity:1
		} to{
			left:-100%;opacity:0}}


.container {
	margin: 20px;
}

/*Grid*/

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.right-column {
	border-left: 1px solid #ddd; 
	padding-top: 10px;
}


.p-btn {
  color: #333;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  width: 100%; 
  
  }

  .pref-btn {
  	 border: 0 solid;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 0.5s cubic-bezier(0, 0, 0, 0.5);
  padding: 10px;
  }

.pref-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

.icon {
	padding: 10px;
}

.icon:hover {
	cursor: pointer;
	color: teal;
	transition: 1s;
}

#menu {
	position: fixed;
	color: #fff;
  display: none;
}

#menu ul {
	list-style: none;
	margin-top: 90px;
}

#menu i {
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

 .item {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-style: 
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.item-selected {
  border: 1px solid;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  width: 100%;
}

.pl-10 {
	padding-left: 10px;
}

.pl-8 {
	padding-left: 7px;
}

.pl-5 {
   padding-left: 3px;
}

#screens {
	margin-left: 150px;
  margin-right:150px;
	position: relative;
}

.mobile {
	height: 500px;
	margin: 15px;
	border: 1px solid #333;
	border-radius: 10px;
  transition: 0.5s;
}

.tablet {
  height: 500px;
  width: 650px;
  margin: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  transition: 0.5s;
}

.desktop {
  height: 100%;
  width: 100%;
  margin: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  transition: 0.5s;
}

.fade-in{
	animation:opac 0.8s
	}@keyframes opac{
		from{opacity:0} 
		to{opacity:1}}



 .window-focus {
   box-shadow: 0 0 10px #5bffff;
  transition: 0.5s;

 }    

  .window-focus:hover {
   box-shadow: 0 0 20px #5bffff;
   transition: 0.5s;
 }    

 .blur{
   box-shadow: none;
  transition: 0.5s;
 }

.modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8);
  transition: 1s;
}
.modal-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:100px;
  border-radius: 5px;
  height: 250px;
}

.react {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-style: 
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 250px;
} 

.react-expand {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  width: 250px;
}

.react:hover {
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

#qr_code{
  width:240px;
  padding:10px;
}
